# IDE
.vscode

# Python
monitoring/__pycache__
monitoring/schedulers/__pycache__
monitoring/general_statistics/__pycache__
monitorsystems/__pycache__
connections/__pycache__
connections/DataBases/__pycache__

# Python Django
monitoring/migrations



# SQLite
db.sqlite3

connections/databases/__pycache__
connections/databases/__pycache__
