# IDE
.vscode

# Python
core/__pycache__
core/schedulers/__pycache__
core/general_statistics/__pycache__
system/__pycache__
connections/__pycache__
connections/DataBases/__pycache__

# Python Django
core/migrations



# SQLite
db.sqlite3

connections/DataBases/__pycache__/MySql.cpython-38.pyc
connections/DataBases/__pycache__/MySql.cpython-38.pyc
